@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --lilac: #D6B9ED;
  --dark-blue: #140E48;
  --light-blue: #369FF7; 
  --bright-orange: #FF5922 !important;
}

/* if you are struggling with applying this color in your jsx:
 - ensure you have pulled this via the tailwind.config.js file OR
 - add this to your tailwind.config.js file as follows: 
    - // tailwind.config.js
    module.exports = {
      // ...
      theme: {
        extend: {
          backgroundColor: {
            'lilac': 'var(--lilac)',
          },
        },
      },

    OR
  - use an inline style attribute as such: style={{ backgroundColor: 'var(--lilac)'
*/
.lilac {
  color: var(--lilac);
}

.dark-blue {
  color: var(--dark-blue);
}

.light-blue {
  color: var(--light-blue);
}

.bright-orange {
  color: var(--bright-orange);
}

.rounded-border {
  border-radius: 10px 10px 10px 10px !important;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

body {
  /* margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh; */
}
